# From Scratch making Covid-19 Dashboard

In [ ]:
# Video link: https://www.youtube.com/watch?v=iAXwlrtBUEY

In [22]:
import plotly.graph_objects as go
import plotly.offline as pyo
import dash
from dash import html
import requests
import pandas as pd
from dash import dcc

In [23]:
#Fetch data from API
api_url = 'https://data.cdc.gov/resource/9mfq-cb36.json'
response = requests.get(api_url)
data = response.json()

# Prepare the data for Visualization
df = pd.DataFrame(data)  # Convert the data to a DataFrame

In [24]:
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
0,2021-03-11T00:00:00.000,KS,297229,241035.0,56194,0.0,0,4851,0.0,0,2021-03-12T15:20:13.190,Agree,N/A,NaN,NaN
1,2021-12-01T00:00:00.000,ND,163565,135705.0,27860,589.0,220,1907,9.0,0,2021-12-02T14:35:20.922,Agree,Not agree,NaN,NaN
2,2022-01-02T00:00:00.000,AS,11,NaN,NaN,0.0,0,0,0.0,0,2022-01-03T15:18:16.200,NaN,NaN,NaN,NaN
3,2021-11-22T00:00:00.000,AL,841461,620483.0,220978,703.0,357,16377,7.0,3,2021-11-22T00:00:00.000,Agree,Agree,12727.0,3650
4,2022-05-30T00:00:00.000,AK,251425,NaN,NaN,0.0,0,1252,0.0,0,2022-05-31T13:20:20.883,N/A,N/A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2021-12-16T00:00:00.000,CO,875502,800777.0,74725,2429.0,230,9841,62.0,9,2021-12-16T00:00:00.000,Agree,Agree,8722.0,1119
996,2021-11-26T00:00:00.000,OK,664667,502794.0,161873,751.0,231,11223,0.0,0,2021-11-27T14:19:28.241,Agree,Agree,8545.0,2678
997,2021-05-03T00:00:00.000,IN,723443,NaN,NaN,797.0,0,13323,1.0,0,2021-05-03T00:00:00.000,Not agree,Agree,12912.0,411
998,2020-12-10T00:00:00.000,UT,225946,225946.0,0,3401.0,0,1016,21.0,1,2020-12-11T15:06:51.565,Agree,Agree,998.0,18
999,2020-06-02T00:00:00.000,MS,18145,18009.0,136,322.0,3,1046,13.0,0,2020-06-04T00:00:00.000,Agree,Agree,1028.0,18

In [25]:
#print(df.columns)

In [26]:

# Create the dropdown options for States
states = df['state'].unique()
dropdown_options = [{'label': state + "- USA", 'value': state} for state in states]

In [27]:
# Fetch dates from data and Create date filter
dates = df['submission_date'].unique()
dropdown_date_options = [{'label': date, 'value': date} for date in dates]

In [28]:
#Define you app layout 
app = dash.Dash()

# Defining the HTML components

app.layout = html.Div(
    children=[
        html.H1("Covid-19 Dashboard", style={'color': 'red', 'text-align': 'center'}),
        html.Div(
            [dcc.Dropdown(id='state-dropdown', options=dropdown_options, value=states[0]),
            dcc.Dropdown(id='date-dropdown', options=dropdown_date_options, value=dates[0])],
            style={'color': 'red', 'text-align': 'left', 'display': 'inline-block', 'width': '40%'}
        ),
        html.Div(
            children=[
                dcc.Graph(id='cases-graph')
            ]
        )
    ]
)



# Create the callback function to update the chart
@app.callback(
    dash.dependencies.Output('cases-graph', 'figure'),
    [dash.dependencies.Input('state-dropdown', 'value'),
     dash.dependencies.Input('date-dropdown', 'value')]
)


def update_chart(state, date):
    # Filter the data based on the selected state and date
    filtered_data = df[(df['state'] == state) & (df['submission_date'] == date)]
    
    # Create the chart using Plotly Express or Plotly graph objects
    # Replace the following code with your desired chart creation logic
    fig = {
        'data': [
            {'x': filtered_data['submission_date'], 'y': filtered_data['new_case'], 'type': 'bar', 'name': 'New Cases'},
            {'x': filtered_data['submission_date'], 'y': filtered_data['tot_cases'], 'type': 'bar', 'name': 'Total Cases'},
            {'x': filtered_data['submission_date'], 'y': filtered_data['tot_death'], 'type': 'bar', 'name': 'Total Deaths'},
        ],
        'layout': {
            'title': f'Covid-19 Cases & Deaths in {state} - USA'
        }
    }
    
    return fig





if __name__ == '__main__':
    app.run(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: on

SystemExit: 1

C:\Users\PTS\anaconda3\envs\Dash\lib\site-packages\IPython\core\interactiveshell.py:3513: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.

In [29]:
# Ploting

api_url = 'https://data.cdc.gov/resource/9mfq-cb36.json'
response = requests.get(api_url)
data = response.json()


def fig_generator(data):

        plot_data = []
        for i in range (0,15):
            plot_data.append(go.Scatter(x=x, y=y))
        plot_layout = go.Layout(title="Covid-19 Cases & Deaths in US States")
        
        fig = go.Figure(data=plot_data, layout=plot_layout)
        
        return (fig.data, fig.layout)

In [30]:
# Create the figure and plot
go.Figure(data=plot_data, layout=plot_layout)

NameError: name 'plot_data' is not defined